Package: com.diakuz.package
Name: Test Package
Version: 1.0
Architecture: iphoneos-arm
Description: This is a test package from Diakuz
Depiction: Test
Homepage:
Maintainer: Logan Brown <dezute.com@gmail.com>
Author: Logan Brown <dezute.com@gmail.com>
Section: Themes
